.signup-labels{
    font-family: Cairo;
    font-size: 15px;

}

.footer-payment-icons{
    color : rgb(51, 51, 51);
    font-size: 20px;
    display: inline-block;
}

#verve-word-container{
    width : 55px;
    height : 20px;
    top : 2px;
}
#signup-legend{
    padding-bottom: 10px;
    position: relative;
    font-weight: bold;
    font-size: 20px;
}

body {
    font-family: Cairo;
}

#internation-code-format{
    font-size: 12px;
    left : 2px;
    position: relative;
}

.alert-warning{
    top : -20px;
}
#success-alert{

    top : -10px;
}

#signup-password-error{
    top : .1em;
    left : 20px;
}