body {


    padding : 0;

}

#registered-email-label{

    font-size: 14px;
}
#password-recovery-container{
    top: 10%;
    margin-left : auto;
    margin-right: auto;
    position: relative;
}

@media only screen and (min-width: 600px) {

    #password-recovery-container{
        top :9em;
    }
}

#email-erorr{
    left : 14px;
}

#reset-loading-icon , #recover-loading-icon{
    display: none;
}